In [ ]:
a = 42
b = 2

In [ ]:
c = a * b

In [ ]:
print(c)